src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getExchangeAmount" doc:id="9f868756-ca5f-4bde-a5d2-34bcb04fabd9" >
		<ee:transform doc:name="Transform Message" doc:id="a261839a-cc26-44fd-ae5b-5a8c813bfcf9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="amount" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.Amount as Number]]></ee:set-variable>
				<ee:set-variable variableName="fromCurrency" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.fromCurrency as String]]></ee:set-variable>
				<ee:set-variable variableName="toCurrency" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.toCurrency as String]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="9c3ad889-218a-4560-81d6-2501e1f74bf1" path="/" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"app_id" : "${secure::exchange.app_id}"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="e8c8ae91-6a18-4270-8976-c42abaf28a2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var ToCurrency = vars.toCurrency as String
var convertRate = payload.rates[ToCurrency] as Number
var amount = vars.amount as Number
---
    "conversion": {
        "ConvertedAmount": amount*convertRate,
        "Rate": convertRate
    }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f591797e-ddea-4390-aef3-2bbeaef8dc8c" message="#[payload]"/>
	</flow>
</mule>
